
.enter-pg{
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 bottom: 150px;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }